.root {
    -fx-background-color: linear-gradient(to bottom right, #7F00FF, #ffffff);
    -fx-font-family: 'Segoe UI', sans-serif;
    -fx-padding: 30px;
}

.label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #0099ff, 3, 0.7, 0, 1);
}

.text-field, .password-field {
    -fx-background-color: #ffffff;
    -fx-text-fill: #7F00FF;
    -fx-font-size: 13px;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-padding: 5px;
    -fx-border-color: #0099ff;
    -fx-border-width: 1.5px;
}

.button {
    -fx-background-color: linear-gradient(to bottom right, #b30000, #7F00FF);
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 16px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, #0099ff, 5, 0.6, 0, 2);
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom right, #ffffff, #b30000);
    -fx-text-fill: #7F00FF;
    -fx-effect: dropshadow(gaussian, #ffffff, 8, 0.9, 0, 3);
}
